.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: whitesmoke;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0px;
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
  }
  
  .center-section .title span{
    color: black;
  }
  .left-section {
    display: flex;
    position: relative;
    bottom: 17px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  
  .title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .center-section {
    flex: 1;
    display: flex;
    justify-content: center
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .auth {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  
  .user .ant-btn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }
  
  .language .ant-btn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }
  
  .language .ant-dropdown {
    margin-top: 8px;
  }
  
  .language-dropdown {
    padding: 8px;
  }
  
  .language-dropdown .ant-dropdown-menu {
    min-width: 120px;
  }

  @media screen and (max-width: 810px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .left-section, .center-section, .right-section {
      margin-bottom: 10}}