.nav-pic {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 584.231px;
}

.label-book {
    background-color: #eb1212;
    border: solid 1px #d0021b;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 300px;
    text-align: center;
}

.label-1 {
    color: #666;
    border-radius: 2px 0 0 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 173px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    word-spacing: normal;
    cursor: pointer;
    border: 1px solid #ccc;
}

.label-2 {
    border-radius: 2px 0 0 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 156px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    word-spacing: normal;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #2DC275;
}

.label-3 {}

.ticket {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    background-color: white;

}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-now {
    margin-left: 100px;
}

.text {
    width: 325px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.list-info-ticket {
    border: 1px solid rgb(220, 212, 212);
    width: 50%;
    margin: 30px 120px;
    border-radius: 1%;
    background-color: white;
}

.info {
    border: 1px solid rgb(235, 233, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.title2 {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #ccc;

}

.word-p {
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.7px;
}

.price {
    padding-right: 10px;
    font-size: 16px;
}

.event-detail-container {
    background-color: #f5f1f1;
}

.select {
    display: flex;
}

.month {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    background-color: #eb1212;
    line-height: 22px;
    text-align: center;
}

.date {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 400;
    color: #666;
    line-height: 22px;
    text-align: center;
}

.day {
    margin: 0;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.calendar {
    width: 85px;
    z-index: 7;
    position: relative;
    border-radius: 2px;
    border: 1px solid #ccc;
    border-bottom: 5px solid #ccc;
}

.info-ticket {

    font-weight: 700;
    text-align: left;
    color: #333;
    width: 670px;
    margin: 0px 40px;
    font-size: 13px;
}

.tiket-day {
    padding-left: 2em;
    text-indent: -1.5em;
    margin-bottom: 0;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.ticket-address {
    border: none;
}

.tk1 {
    padding-left: 1em;
    text-indent: -1.5em;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.tk2 {
    color: grey;
    padding: 0px 7px;
}

.p {
    margin: 0 0 10px;
}

.contain-all {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(220, 212, 212);
    background-color: white;
    margin-top: 30px;
    margin-left: 80px;
}

.mini-word {
    color: #000;
    padding: 15px;
    border-bottom: 1px solid rgb(220, 212, 212);
}

.word {
    font-size: 18px;
}

.time {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.address {
    padding-left: 15px;
    font-size: 14px;
    line-height: 22px;
}

.price {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.info-t {
    border-bottom: 1px solid rgb(220, 212, 212);
    height: 140px;
}

.time-line {
    margin: 10px;
}

.street {
    padding-left: 23px;
    position: relative;
    bottom: 21px;
    width: 197px;
}

.price-s {
    padding-left: 10px;
}
.about-all{
    width: 50%;
    margin: 30px 120px;
    background-color: white;
}
.about{
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #ccc;
}
.infomation{
    height: auto;
}
.p-word{
    padding: 10px;
    margin-left: 36pt;

}