.registration-form {

  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15%;
  margin-left: 35%;
}

.registration-form .ant-column{
  display: flex;
}
.registration-form .ant-picker{
  margin-left: 40%;
}
.registration-form .ant-form-item .ant-form-item-label{
  overflow:unset;
}


.registration-form .ant-form-item-label {
  text-align: center
}
.registration-form .ant-select-selector{
  margin-left: 40%;
}
.registration-form .ant-upload-picture-card-wrapper .ant-upload.ant-upload-select >.ant-upload{
  margin-left: 4%;
  position: relative;
  right: 3%;
}
/* .registration-form .ant-upload-wrapper .ant-upload-list{
  display: flex;
  position: relative;
  left: 40%;
} */
.registration-form .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container{
  position: relative;
  left: 40%;
}
.registration-form .ant-input,
.registration-form .ant-textarea,
.registration-form .ant-upload {
  margin-left: 40%;
  width: 100%;
}

.registration-form .ant-upload {
  display: block;
}

.registration-form .ant-form-item-label label {
  font-weight: 600;
  display: flex;
  justify-content:flex-start
}

.registration-form .ant-form-item-explain {
  color: red;
}

.registration-form .ant-btn {
  margin-top: 10px;
}
.navBar {
  margin-top: 8%;
  height: auto;
}
.navBar .ant-menu-light.ant-menu-root.ant-menu-inline{
  max-width: 20%;
}
