.registration-form {

  margin-top: 10%;
}

/* .registration-form .ant-form-item-label {
  text-align: left;
}

.registration-form .ant-input,
.registration-form .ant-textarea,
.registration-form .ant-upload {
  width: 100%;
}

.registration-form .ant-upload {
  display: block;
}

.registration-form .ant-form-item-label label {
  font-weight: 600;
}

.registration-form .ant-form-item-explain {
  color: red;
}

.registration-form .ant-btn {
  margin-top: 10px;
} */
